#miningButton {
    width: 200px;
    height: 200px;
    left: 15%;
    top: 35%;
}

#mineButton {
    border-radius: 50%;
    outline: solid 10px white;
    position: absolute;
    transform: translate(-50%, -50%);

    color: white;
    font-weight: bold;
    font-size: 50px;
}

#mineText {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 150px;
}