/* Tabs */
div#tabs {
	display: flex;
	height: 50px;
	justify-content: space-between;
	column-gap: 8px;
}

button.tab {
	width: 10%;
	height: 100%;
	background: linear-gradient(#222222, #000000);
	border: solid 1px #bbbbbb;
	border-radius: 0.5vh 0.5vh 0 0;
	cursor: pointer;
	color: white;
	font-size: 0.6em;
	display: flex;
	align-items: center;
}

/* Animation */
div#tabs {
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 6s;
}

@keyframes appear {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}