/* Tabs */
div#tabs {
	display: flex;
	height: auto;
	justify-content: space-between;
	column-gap: 0px;
}

button.tab {
	width: 100%;
	top: 0px;
	background: linear-gradient(#222222, #000000);
	border: solid 8px #bbbbbb;
	border-radius: 0 0 0.5vh 0.5vh;
	cursor: pointer;
	color: white;
	font-size: 0.6em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Images */
.tabImg {
	size: 0px;
	width: 32px;
}

/* Animation 
div#tabs {	
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 6s;
}

@keyframes appear {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}
*/